@inherits LayoutComponentBase

<div class="app-container">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet style="display:none;">
    Bir hata oluştu.
    <a href="." class="reload">Yenile</a>
    <span class="dismiss">🗙</span>
</div>
